th,td{
    box-sizing: border-box;
    height: 50px;
}

th span, td span{
   margin-left: 15px;
}


tr{
    border-bottom: 1px solid  #eef1f4;
}
thead tr{
    border-bottom: 1px solid  #dae0e7;
}


.blockTable{
    text-align: left;
}

.blockTable table{
    width: 100%;
    border-collapse: collapse;
}

.color{
    width: 20px;
}

.id{
    width: 95px;
    /*border-right: 1px solid grey;*/
    position: relative;
}

.title:before, .status:before, .executor:before{
    width: 1px;
    height: 20px;
    background-color: #e2e7ea;
    content: "";
    position: absolute;
    top:15px;
}


.title{
    position: relative;
    width: 420px;
}

.status{
    position: relative;
    width: 125px;
}

.executor{
    position: relative;
    width: calc(100% - 660px);
}


