@import-normalize; /* bring in normalize.css styles */


.App {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "h c";
  grid-template-columns: 95px 10fr;

  grid-gap: 10px;

}

.App__header-block{
  grid-area: h;
  background-color: #002137;
  height: 100%;
}

.App_content-block{
  grid-area: c;
}